.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linked__options {
    display: flex;
    margin-bottom: 350px;
}
.linked__options > button,input {
    margin-right: 20px;
}

.linked__list {
    list-style: none;
}
.btn {
    width: 130px;
    height: 40px;
}